@model HAO_IKI_WebApp.Models.Hastaliklar

 <div class="mb-3 col-md-3">

        <div  style="height:300px">
            <table class="tabletable-borderless border-bottom">

                <tbody>
                    <tr class="table-secondary">
                     
                       
                       
                            <td class="mb-3 col-md-3" id="eslikEdenHastalikDiv">


                                <select multiple class="chosen-select" asp-for="HastaId" required>
                                    <option value="67">Diyabet</option>
                                    <option value="68">Hipertansiyon</option>
                                    <option value="69">Kalp Yetmezliği</option>
                                    <option value="70">Nörolojik Hastalık</option>
                                    <option value="71">Böbrek Yetmezliği</option>
                                    <option value="72">Tiroid</option>
                                    <option value="73">Solunum(Astım, KOAH, ...)</option>
                                    <option value="74">Psikiyatrik Hastalık</option>
                                    <option value="75">Genetik </option>
                                </select>
                            </td>


                    </tr>
                </tbody>
            </table>

          
        </div>

    </div>