@{
    Layout = "_MainLayout";
}
@model HAO_IKI_WebApp.Models.YasamBoyuAtak

<!DOCTYPE html>

<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Basic Inputs - Forms | Sneat - Bootstrap 5 HTML Admin Template - Pro</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
</head>

<body>

    <h4 class="fw-bold py-3 mb-4"><span class="" style="color:blueviolet">HASTA KAYDI </span> </h4>

    <div class="row ">
        <div class="col-md-12 ">
            <div class="my-custom-scrollbar my-custom-scrollbar-primary">


                <ul class="nav nav-pills flex-column flex-md-row mb-3 " style="font-size: 12px">
                    <li class="nav-item">
                        <a class="nav-link" href="HastaKaydi"><i class="bx bx-user me-1"></i> İLK KAYIT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="HastaKaydliDemografikVerilerIki"><i class="bx bx-bell me-1"></i> DEMOGRAFİK VERİLER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="HastaKaydiKomorbidite"><i class="bx bx-link-alt me-1"></i> KOMORBİDİDİTE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="HastaKaydiKompleman"><i class="bx bx-link-alt me-1"></i> KOMPLEMAN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="HastaKaydiTiroidFonksiyonTestleri"><i class="bx bx-link-alt me-1"></i> TİROİD FONKSİYON TESTLERİ VE OTOANTİKOR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="HastaKaydiGenetik"><i class="bx bx-link-alt me-1"></i> GENETİK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="HastaKaydiHepatitSerolojisi"><i class="bx bx-link-alt me-1"></i> HEPATİT SEROLOJİSİ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="HastaKaydiYanlisTani"><i class="bx bx-link-alt me-1"></i> YANLIŞ TANI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="HastaKaydiYasamBoyuAtakOzellikleri"><i class="bx bx-link-alt me-1"></i> YAŞAM BOYU ATAK ÖZELLİKLERİ</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="col-xl-12">
        <div class="card mb-6">
            <h5 class="card-header">YAŞAM BOYU ATAK ÖZELLİKLERİ</h5>
            <hr class="my-0" />
            <div class="card-body">
                <form method="post" asp-controller="Doktor" asp-action="HastaKaydiYasamBoyuAtakOzellikleri">
                    <div class="table-responsive">
                        <table class="table table-striped table-borderless border-bottom">

                            <tbody>
                                <tr class="table-secondary">
                                    <td class="text-nowrap">FASİYAL ATAK</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="FasiyalAtak" value="true" id="fasiyal1" onclick=myFunc(fasiyal1,fasiyalAtak)>
                                            <label class="form-check-label" for="fasiyal1">Var</label>
                                        </div>
                                    </td>
                                    <td id="fasiyalAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="FasiyalAtakSikligi" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="FasiyalAtak" value="false" id="fasiyal2" onclick=myFunc(fasiyal1,fasiyalAtak)>
                                            <label class="form-check-label" for="fasiyal2">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>

                                </tr>

                                <tr>
                                    <td class="text-nowrap">İZOLE DUDAK ATAĞI</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="IzoleDudakAtak" value="true" id="izole1" onclick=myFunc(izole1,izoleAtak)>
                                            <label class="form-check-label" for="izole1">Var</label>
                                        </div>
                                    </td>
                                    <td id="izoleAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="IzoleDudakAtakSikiligi" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="IzoleDudakAtak" value="false" id="izole2" onclick=myFunc(izole1,izoleAtak)>
                                            <label class="form-check-label" for="izole2">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>
                                </tr>

                                <tr class="table-secondary">
                                    <td class="text-nowrap">DİL ATAĞI</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="DilAtak" value="true" id="dil1" onclick=myFunc(dil1,dilAtak)>
                                            <label class="form-check-label" for="dil1">Var</label>
                                        </div>
                                    </td>
                                    <td id="dilAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="DilAtakSikligi"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="DilAtak" value="false" id="dil2" onclick=myFunc(dil1,dilAtak)>
                                            <label class="form-check-label" for="dil2">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-nowrap">UVULA ATAĞI</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="UvulaAtak" value="true" id="uvula1" onclick=myFunc(uvula1,uvulaAtak)>
                                            <label class="form-check-label" for="uvula1">Var</label>
                                        </div>
                                    </td>
                                    <td id="uvulaAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="UvulaAtakSikligi" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="UvulaAtak" value="false" id="uvula2" onclick=myFunc(uvula1,uvulaAtak)>
                                            <label class="form-check-label" for="uvula2">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>
                                </tr>

                                <tr class="table-secondary">
                                    <td class="text-nowrap">LARENKS ATAĞI</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="LarenksAtak" value="true" id="lareks1" onclick=myFunc(lareks1,lareksAtak)>
                                            <label class="form-check-label" for="lareks1">Var</label>
                                        </div>
                                    </td>
                                    <td id="lareksAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="LarenksAtakSikligi"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="LarenksAtak" value="false" id="lareks2" onclick=myFunc(lareks1,lareksAtak)>
                                            <label class="form-check-label" for="lareks2">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-nowrap">BOYUN ATAĞI</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="BoyunAtak" value="true" id="boyun1" onclick=myFunc(boyun1,boyunAtak)>
                                            <label class="form-check-label" for="boyun1">Var</label>
                                        </div>
                                    </td>
                                    <td id="boyunAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="BoyunAtakSikligi" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="BoyunAtak" value="false" id="boyun2" onclick=myFunc(boyun1,boyunAtak)>
                                            <label class="form-check-label" for="boyun2">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>
                                </tr>

                                <tr class="table-secondary">
                                    <td class="text-nowrap">ÖZEFAGUS ATAĞI</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="OzafagusAtak" value="true" id="özefagus1" onclick=myFunc(özefagus1,özefagusAtak)>
                                            <label class="form-check-label" for="özefagus1">Var</label>
                                        </div>
                                    </td>
                                    <td id="özefagusAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="OzafagusAtakSikligi" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="OzafagusAtak" value="false" id="özefagus2" onclick=myFunc(özefagus1,özefagusAtak)>
                                            <label class="form-check-label" for="özefagus2">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-nowrap">EKSTREMİTE ATAĞI</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="EkstremiteAtak" value="true" id="ekstremite1" onclick=myFunc(ekstremite1,ekstremiteAtak)>
                                            <label class="form-check-label" for="ekstremite1">Var</label>
                                        </div>
                                    </td>
                                    <td id="ekstremiteAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="EkstremiteAtakSikligi" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="EkstremiteAtak" value="false" id="ekstremite2" onclick=myFunc(ekstremite1,ekstremiteAtak)>
                                            <label class="form-check-label" for="ekstremite2">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>
                                </tr>

                                <tr class="table-secondary">
                                    <td class="text-nowrap">GÖĞÜS ATAĞI</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="GogusAtak" value="true" id="gogus1" onclick=myFunc(gogus1,gogusAtak)>
                                            <label class="form-check-label" for="gogus1">Var</label>
                                        </div>
                                    </td>
                                    <td id="gogusAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="GogusAtakSikligi"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="GogusAtak" value="false" id="gogus2" onclick=myFunc(gogus1,gogusAtak)>
                                            <label class="form-check-label" for="gogus">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-nowrap">RENAL ATAĞI</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="RenalAtak" value="true" id="renal1" onclick=myFunc(renal1,renalAtak)>
                                            <label class="form-check-label" for="renal1">Var</label>
                                        </div>
                                    </td>
                                    <td id="renalAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="RenalAtakSikligi" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="RenalAtak" value="false" id="renal2" onclick=myFunc(renal1,renalAtak)>
                                            <label class="form-check-label" for="renal2">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>
                                </tr>

                                <tr class="table-secondary">
                                    <td class="text-nowrap">MESANE ATAĞI</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="MesaneAtak" value="true" id="mesane1" onclick=myFunc(mesane1,mesaneAtak)>
                                            <label class="form-check-label" for="mesane1">Var</label>
                                        </div>
                                    </td>
                                    <td id="mesaneAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="MesaneAtakSikligi" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="MesaneAtak" value="false" id="mesane2" onclick=myFunc(mesane1,mesaneAtak)>
                                            <label class="form-check-label" for="mesane2">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-nowrap">KAS ATAĞI</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="KasAtak" value="true" id="kas1" onclick=myFunc(kas1,kasAtak)>
                                            <label class="form-check-label" for="kas1">Var</label>
                                        </div>
                                    </td>
                                    <td id="kasAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="KasAtakSikligi" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="KasAtak" value="false" id="kas2" onclick=myFunc(kas1,kasAtak)>
                                            <label class="form-check-label" for="kas2">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>
                                </tr>

                                <tr class="table-secondary">
                                    <td class="text-nowrap">EKLEM ATAĞI</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="EklemAtak" value="true" id="eklem1" onclick=myFunc(eklem1,eklemAtak)>
                                            <label class="form-check-label" for="eklem1">Var</label>
                                        </div>
                                    </td>
                                    <td id="eklemAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="EklemAtakSikligi"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="EklemAtak" value="false" id="eklem2" onclick=myFunc(eklem1,eklemAtak)>
                                            <label class="form-check-label" for="eklem2">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-nowrap">GASTROİNTESİNAL ATAĞI</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="GastrointestinalAtak" value="true" id="gastrintesinal1" onclick=myFunc(gastrintesinal1,gastrintesinalAtak)>
                                            <label class="form-check-label" for="gastrintesinal1">Var</label>
                                        </div>
                                    </td>
                                    <td id="gastrintesinalAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="GastrointestinalAtakSikligi" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="GastrointestinalAtak" value="false" id="gastrintesinal2" onclick=myFunc(gastrintesinal1,gastrintesinalAtak)>
                                            <label class="form-check-label" for="gastrintesinal2">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>
                                </tr>

                                <tr class="table-secondary">
                                    <td class="text-nowrap">ANAL ATAĞI</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="AnalAtak" value="true" id="anal1" onclick=myFunc(anal1,analAtak)>
                                            <label class="form-check-label" for="anal1">Var</label>
                                        </div>
                                    </td>
                                    <td id="analAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="AnalAtakSikligi" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="AnalAtak" value="false" id="anal2" onclick=myFunc(anal1,analAtak)>
                                            <label class="form-check-label" for="anal2">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-nowrap">GENİTAL ATAĞI</td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:30px">
                                            <input class="form-check-input" type="radio" asp-for="GenitalAtak" value="true" id="genital1" onclick=myFunc(genital1,genitalAtak)>
                                            <label class="form-check-label" for="genital1">Var</label>
                                        </div>
                                    </td>
                                    <td id="genitalAtak" style="display:none">
                                        <div>
                                            <label class="form-label">Atak Sıklığı</label>
                                            <input type="number" class="list-group-numbered mb-3 col-md-3" asp-for="GenitalAtakSikligi" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check col-sm-1 form-check-inline" style="margin-left:70px">
                                            <input class="form-check-input" type="radio" asp-for="GenitalAtak" value="false" id="genital2" onclick=myFunc(genital1,genitalAtak)>
                                            <label class="form-check-label" for="genital2">Yok</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-3 col-md-12">
                                            <label></label>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Kaydet</button>
                            <button type="reset" class="btn btn-outline-secondary">Vazgeç</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->

    <script src="../assets/js/form-basic-inputs.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>