<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HAO_IKI_WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HAO_IKI_WebApp.styles.css" asp-append-version="true" />
    
</head>
<body>
   <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar">
                <div class="p-4 pt-5">
                    <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(~/images/logo.jpg);"></a>

                    @Html.Partial("Menu2")
                        <footer class="footer">
                            <div class="container-fluid">
                                <nav class="float-left">
                                </nav>
                                <div class="copyright float-right">
                                    2022
                                    <a href="http://www.semaforteknoloji.com/" target="http://www.semaforteknoloji.com/">Semafor Teknoloji</a> Tarafından üretilmiştir.
                                </div>
                            </div>
                        </footer>

                </div>
            </nav>

        <!-- Page Content  -->
       

            

            @RenderBody()
        
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
